.headerSection {
    font-family: 'Lato';
    color: #FFF;
    align-content: center;
    height: 10vh;
    position: relative;
    z-index: 1;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), #2c3e50);


    .navbar-brand {
        color: #FFF;
        font-size: 5em;
        font-family: 'Damion', cursive;
    }

    .navigation {

        ul,
        li {
            list-style: none;
        }

        font-size: 18px !important;
        font-size: 18em;

        li {
            a {
                line-height: 40px;
                color: #FFF;
                padding: 40px 25px 10px;
                border-radius: 0px 0 5px 5px;

                &:hover {
                    background-color: #74c7d5;
                    text-decoration: none;
                }
            }
        }

    }

}